.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

button {
  background-color: #f3684f;
  color: white;
  border: none;
}

button:hover {
  background-color: #ff4500;
}

span {
  cursor: pointer;
}
